ul.validation-list{
  list-style: none;
  padding-left: 0;
  margin-left:0;
}

.valid-criteria-item{
  position: relative;
  padding-left: 2em;
  
}

.valid-criteria-item:before{
  display: block;
  width: 1em;
  content: "N";
  position: absolute;
  left: 0;
  top: 0;
}

.valid-criteria-item.true:before{
  content: "Y";
}