<h2>Password</h2>
  <label>Old password</label>
  <input name="old_pw" (input)="checkOldPassword($event.target.value)" />
  
  <div *ngIf="allowPasswordChange">
  <label>New password</label>
  <input name="new_pw" (input)="validateNewPassword($event.target.value)" />
  
  <label class="{{confirmDisabled}}">Confirm password</label>
  <input name="new_pw_confirm" disabled="{{confirmDisabled}}" (input)="matchPassword($event.target.value)" />
  
  <ul class="validation-list">
    <li class="valid-criteria-item {{validPasswordLength}}">Password between 8-15 characters</li>
    <li class="valid-criteria-item {{validPasswordUseUpper}}">Use at least one upper-case</li>
    <li class="valid-criteria-item {{validPasswordUseLower}}">Use at least one lower-case</li>
    <li class="valid-criteria-item {{validPasswordUseNum}}">Use at least one number</li>
    <li class="valid-criteria-item {{validPasswordUseSpecialChar}}">Use at least one special character</li>
    <li class="valid-criteria-item {{validPasswordMatch}}">Passwords Match</li>
  </ul>
  
  <button disabled="{{disabledSaveButton}}" (click)="updatePassword()">Save</button>
  </div>
  