<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
    <li>https://www.djamware.com/post/5a878b3c80aca7059c142979/securing-mean-stack-angular-5-web-application-using-passport</li>
    <li>https://medium.com/netscape/mean-app-tutorial-with-angular-4-part-1-18691663ea96</li>
    <li>https://medium.com/@nomanbinhussein/mean-app-tutorial-with-angular-4-part-2-4250522c845</li>
  </ul>
</div>

<div class="positions" *ngIf="positionsList"  >
  <h2>My Positions</h2>
  
  <ul>
    <li *ngFor="let position of positionsList">
      <div>
        
        <h2>{{position.currency}}/{{position.base_currency}}</h2>
        <div class="entries">
          <h4>Entry Detail</h4>
          Date: {{position.date}}<br>
          Purchased: {{position.purchased_qty}} <br>
          Price: {{position.purchase_price}}<br>
          Total: {{ getTotal( position.purchased_qty , position.purchase_price ) }}<br>
          Exchange: {{position.exchange}}
        </div>
        
        <div class="exits">
          <h4>Exit Details</h4>
        </div>
        
      </div>
    </li>
  </ul>
  
</div>