<header class="shell__header">
    <h1>Welcome to {{ title }}!</h1>
  </header>

<div class="shell__wrapper">
  
  <nav class="shell__nav">
    <h2>Menu</h2>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trades</a></li>
      <li><a routerLink="/my-account" routerLinkActive="active">My Account</a></li>
      <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
    </ul>
    
    <h4>Additional resources</h4>
    <ul>
      <li>https://www.djamware.com/post/5a878b3c80aca7059c142979/securing-mean-stack-angular-5-web-application-using-passport</li>
      <li>https://medium.com/netscape/mean-app-tutorial-with-angular-4-part-1-18691663ea96</li>
      <li>https://medium.com/@nomanbinhussein/mean-app-tutorial-with-angular-4-part-2-4250522c845</li>
    </ul>
  </nav>
  

  <div class="shell__content">
    
    <router-outlet></router-outlet>
   
  </div>
</div><!-- shell content -->
