<div class="positions" *ngIf="positionsList"  >
      <h2>My Positions</h2>
      
      <ul>
        <li *ngFor="let position of positionsList">
          <div>
            
            <h2 class="trade-item-header">{{position.trade_pair}}</h2>
            <div class="trade-item__wrapper">
            <div class="trade-item__entry-detail">
              <h4>Entry Detail</h4>
              Date: {{position.date}}<br>
              Purchased: {{position.qty}} <br>
              Price: {{position.price}}<br>
              Total: {{ getTotal( position.qty , position.price ) }}<br>
              Exchange: {{position.exchange_id}}
            </div>
            
            <div class="trade-item__exit-details">
              <h4>Exit Details</h4>
            </div>
          </div>
            
          </div>
        </li>
      </ul>
      
    </div>
<hr>
 
 <div class="add-position-entry">
  <form>
    <h2>Trade Setups</h2>
    <!-- todo make dynamic -->
    <div class="form-group">
      <label>Choose Exchange</label>
      <select name="exchange" (change)="selectExchange($event)">
        <option value="">Select one</option>
        <option *ngFor="let exchange of exchanges" value="{{exchange.id}}">{{exchange.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Select your base currency</label>
      <fieldset id="baseCurrency">
        <label><input type="radio" value="" name="baseCurrency" checked (click)="switchBaseCurrency($event)"  >ALL</label>
        
         <label *ngFor="let baseCurrency of baseCurrencies" >
          <input type="radio" value="{{baseCurrency}}" name="baseCurrency" (click)="switchBaseCurrency($event)" >
          {{baseCurrency}} 
        </label>
      
    </fieldset>
    </div>
    <div class="form-group">
      <label>Trade Pair</label>
    <select name="trade_pair" id="trade_pair" [(ngModel)]="newPosition.trade_pair" >
      <option selected>Select</option>
      <option *ngFor="let tradePair of filteredTradePairs">
      {{tradePair.baseAsset}} / {{tradePair.quoteAsset}}
    </option>
    </select>
  </div>
  <div class="form-group">
    <label>target price</label>
    <input type="text" name="price" id="price"  [(ngModel)]="newPosition.price" placeholder="###" class="form-control">
    
  </div>
  
    <div class="form-group">
    <label>desired quantity</label>
    <input type="text" name="qty" id="qty"  [(ngModel)]="newPosition.qty" placeholder="###" class="form-control">
    </div>
    <button type="submit" (click)="createEntry()">Add Position</button>
  </form>
</div>

<div>
  <p>After selecting exchange should populate trade pairs</p>
  <p>Base currency filter filters off of trade pairs</p>
</div>

<h2>Symbols </h2>
<ul class="pricing header">
    <li>Symbol</li>
    <li>Last Price</li>
    <li>24h Change</li>
    <li>24h High</li>
    <li>24h Low</li>
    <li>24h Volume</li>
  </ul>
<div *ngFor="let tradePair of filteredTradePairs" class="trade-pair__summary"  >
 <!-- <strong>{{tradePair.baseAsset}}/{{tradePair.quoteAsset}}</strong> -->
  
  <ul class="pricing detail">
    <li>{{tradePair.symbol}}</li>
    <li>{{tradePair.ticker24h.askPrice}}</li>
    <li>{{tradePair.ticker24h.priceChangePercent}}%</li>
    <li>{{tradePair.ticker24h.highPrice}}</li>
    <li>{{tradePair.ticker24h.lowPrice}}</li>
    <li>{{tradePair.ticker24h.quoteVolume}}</li>
  </ul>
  
</div>
